
.easy-get:hover {
    cursor: pointer;
}
.input{
    font-size: 12px !important;
}
.easy-input {
    font-size:12px;
    padding:0px;
    height:25px;
}
.input-container {
    position: relative;
    width:30%;
    height: 10%;
    /* max-width: 100px; */
    margin: 0px;
    background: linear-gradient(to bottom right, #3B4859 ,#3B4859 );
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding: 0px;
}
.input-container > input {
    font-size: 12px !important;
    width:100%;
    padding: 0px !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
}

span.tap {
    font-size: 12px;
}
.easy-numpad-frame {
    position: relative;
    top: -30%;
    left: 75%;
    width: 25%;
    height: 15%;
    z-index: 999999;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background-color:transparent;
}
.easy-numpad-container {
    position: relative;
    width: 100%;
    top: 10%;
    max-width: 300px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding: 10px;
}
a#easy-numpad-close {
    position: absolute;
    right: -54px;
    top: -56px;
    background-color: grey;
    color: #fff;
    line-height: 1;
    padding: 20px 21px;
}
.easy-numpad-output-container {
    position: relative;
    width:100%;
}
.easy-numpad-output {
    width: 100%;
    border: 1px solid #666;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
    min-height: 60px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-size: 24px;
}
.easy-numpad-number-container > table {
    width: calc(100% + 6px);
    position: relative;
    left: -3px;
    margin-top: 10px;
}
.easy-numpad-number-container > table a {
    display: block;
    border-radius: 10px;
    padding: 16px 10px;
    background-color: #8195A6;
    color: #fff;
    text-align: center;
}
.easy-numpad-number-container > table a:hover {
    background-color:#3B4859;
}

.easy-numpad-number-container .cancel {
    background-color: #8195A6;
}
.easy-numpad-number-container .done {
    background-color: #8195A6;
}

@media only screen and (min-width : 300px) and (max-width : 767px) {
    a#easy-numpad-close {
        right: 0px
    }
}
